@use './variables' as *;
@import './mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #efefef;
  font-family: $font-family;
}

body {
  @include flex(center, flex-start);
  background-color: $dark-color;
}

#root {
  min-height: 100vh;
  width: 100%;
  background-color: $dark-color;
  @include flex(center, center);
}

#root > * {
  width: 100%;
}
